.item {
    border: 1px solid black;
    border-radius: 5px;
    min-width: 450px;
    max-width: 600px;
    margin: 10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;}


.item .category span {
    background: #34495e;
    padding: 5px;
    color: white;
    border-radius: 2px;
    border-top-left-radius: 5px;
    word-wrap: break-word; }

.item .item-bottom {
    border-top: 1px solid black;
    padding: 10px 5px; }